
    <header>
        <div class="nav_home">
            <img src="/img/ABC_alphabet_letter_font_graphic_language_text_S-512.png" alt="logo">
            <input type="text" class="search_home" placeholder="Search...">
            <button class="btn-search btn_home"><i class="fas fa-search"></i></button>
            <ul class="main-nav">
                <li><a href=":;"><i class="fas fa-home"></i></a></li>
                <li><a href=":;"><i class="fas fa-users"></i></a></li>
                <li><a href=":;"><i class="fas fa-users"></i></a></li>
                <li><a href=":;"><i class="fas fa-users"></i></a></li>
            </ul>
            <ul class="user-nav">
                <li><a href=":;"><i class="far fa-user-circle"></i></a></li>
                <li class="dropdown">
                    <a href=":;" class="dropdown-btn"><i class="fas fa-cog"></i></a>
                    <div class="dropdown-menu">
                        <a href="">Help &amp; Support</a>
                        <a href="">Display &amp; Accessability</a>
                        <a href="">Give Feedback</a>
                        <a href="">Log Out</a>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <main class="data-users">
        <div class="tool_section">
            <a href="">Profile</a>
            <a href="">Friends</a>
            <a href="">Share you experience</a>
            <a href="">Videos</a>
        </div>
        <div class="package-story">
            <div class="users-storis">
                <h2>This is my picture</h2>
                <img class="img-users" src="/img/pexels-photo-2179172.jpeg" alt="">
                <div id="myModal" class="img-modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="img01">
                    <div class="caption"></div>
                </div>
                <div class="comment">
                    <p>comments comming from here</p>
                </div>
                <div class="btn-allbuttons">
                    <button class="btn-like"><i class="fas fa-thumbs-up" ></i></button>
                    <button class="btn-comments"><i class="fas fa-comments" data-comm="comment"></i></button>
                    <button class="btn-unlike"><i class="fas fa-thumbs-down"></i></button>
                    <form action="">
                    <textarea class="textarea-comments" ></textarea>
                    </form>
                </div>
            </div>
            
        </div>
    </main>
