
    <section class="log">
        <div class="reg_page">
            <img src="/img/SWMXLlogo.jpg" alt="share with me logo" >
            <div class="form-data">
                <h1>Share <span class="title-log">With me</span></h1>
                <form  method="POST">

                <div class="login-form">
                    <input type="text" class="userName" id="userName" placeholder="Email" name="username">
                
                    <input type="password" class= "password_input" id="password" placeholder="Password" name="password">
               
                <span class="message-ident"></span>

                <button class="butn-login" type="submit">Log in</button>
                
                </div>
               
                </form>

                <hr class="identifier">
                <div class="login_reg">
                    Don't have an account?
                    <a class="btn_reg" href="/registration">Registration</a>
                </div>
            </div>
        </div>
    </section>
